@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div>
        <h2>Resistance is Useful!</h2>
    </div>
    <div>

    </div>
    <div>
        <div>

        </div>
    </div>
    <div>

    </div>
</div>



