@model ResistViewModel
@{
    ViewData["Title"] = "Resistance is Useful!";
}

<div class="row ">
    <br />
    <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                @if (Model?.Resistance != "Incorrect Color Given")
                {
                    <div class="text-primary panelheader">Resistance is @Model.Resistance.</div>
                }
                else
                {
                    <div class="text-primary panelheader">Select Resistor Colors</div>
                }
            </div>
            <div class="panel-body">
                <div>
                    <form asp-controller="home" asp-action="Resist">
                        <div class="form-group">
                            <label>First Color </label>
                            <select asp-for="ColorA" asp-items="firstColorItems" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label>Second Color </label>
                            <select asp-for="ColorB" asp-items="secondColorItems" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label>Third Color </label>
                            <select asp-for="ColorC" asp-items="thirdColorItems" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label>Fourth Color </label>
                            <select asp-for="ColorD" asp-items="fourthColorItems" class="form-control"></select>
                        </div>
                        <div class="col-xs-12 col-xs-offset-0">
                            <div>
                                <table class="hor-resistor" align="center">
                                    <tr>
                                        <td class="hor-ends">
                                        <td>
                                        <td class="hor-band" id="bandA">
                                        <td>
                                        <td class="hor-blank">
                                        <td>
                                        <td class="hor-band" id="bandB">
                                        <td>
                                        <td class="hor-blank">
                                        <td>
                                        <td class="hor-band" id="bandC">
                                        <td>
                                        <td class="hor-blank">
                                        <td>
                                        <td class="hor-blank">
                                        <td>
                                        <td class="hor-blank">
                                        <td>
                                        <td class="hor-blank">
                                        <td>
                                        <td class="hor-band" id="bandD">
                                        <td>
                                        <td class="hor-ends"></td>
                                    </tr>
                                </table><br />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" id="submitButton">Show Your Resistance</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@functions
{
    List<SelectListItem> firstColorItems = getValueColorItems();
    List<SelectListItem> secondColorItems = getValueColorItems();
    List<SelectListItem> thirdColorItems = getMagnitudeColorItems();
    List<SelectListItem> fourthColorItems = getToleranceColorItems();


    static List<SelectListItem> getValueColorItems()
    {
        var colorItems = new List<SelectListItem>();
        foreach (var kvPair in ResistanceCalculator.ResistanceValueMap)
        {
            colorItems.Add(new SelectListItem { Text = kvPair.Key, Value = kvPair.Key });
        }
        return colorItems;
    }

    static List<SelectListItem> getMagnitudeColorItems()
    {
        var colorItems = new List<SelectListItem>();
        foreach (var kvPair in ResistanceCalculator.ResistanceMagnitudeMap)
        {
            colorItems.Add(new SelectListItem { Text = kvPair.Key, Value = kvPair.Key });
        }
        return colorItems;
    }

    static List<SelectListItem> getToleranceColorItems()
    {
        var colorItems = new List<SelectListItem>();
        foreach (var kvPair in ResistanceCalculator.ResistanceToleranceMap)
        {
            colorItems.Add(new SelectListItem { Text = kvPair.Key, Value = kvPair.Key });
        }
        return colorItems;
    }

}


